  <footer class="footer d-flex justify-content-between py-3">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span style="color: white">&copy; 2022 Banco ripley, Inc</span>
    </div>
  </footer>
