<div class="container">
  <h2 class="fw-bold fs-3 mb-2" style="color: blueviolet">{{ title }}</h2>
  <form [formGroup]="transactionForm">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <label class="mb-1 title">Buscar destinatario</label>
        <div class="mb-5">
          <input (keyup)="detectKey($event.target.value)"
                 type="search"
                 class="form-control title"
                 placeholder="Buscar por nombre o rut"
                 aria-label="Username"
                 formControlName="findAdrressee"
          >
          <div class="list-group" [hidden]="hiddenResultOfSearch">
            <li *ngFor="let list of listOfResult" (click)="getClientDataOnClick(list)" class="list-group-item list-group-item-action">
             <b>Nombre: </b>{{ list.name }}  <b>Rut:</b> {{ list.rut }}
            </li>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <label class="mb-1 title"><b> Nombre destinatario:</b></label><br>
        <label class="mb-1 title"><b>Correo:</b></label><br>
        <label class="mb-1 title"><b> Banco:</b></label><br>
        <label class="mb-1 title"><b>Tipo de cuenta:</b></label><br>
        <label class="mb-1 title"><b>Número de cuenta:</b></label>
      </div>
      <div class="col-xl-6">
        <label class="mb-1 title">{{ this.clientSelected.name }}</label><br>
        <label class="mb-1 title">{{ this.clientSelected.email }}</label><br>
        <label class="mb-1 title">{{ this.clientSelected.targetBank }}</label><br>
        <label class="mb-1 title">{{ this.clientSelected.accountType }}</label><br>
        <label class="mb-1 title">{{ this.clientSelected.accountNumber }}</label>
        <br><br><br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 mb-0">
        <label class="mb-1 title"><b> Monto a transferir</b></label>
        <div class="mb-5">
          <div class="input-group mb-3">
            <span class="input-group-text text-muted">$</span>
            <input type="text"
                   class="form-control title"
                   placeholder="ingrese monto que desea transferir"
                   formControlName="valueToTransfer"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 text-center">
        <button type="button" class="btn btn-lg btn-crear" (click)="onSubmit()" [disabled]="!transactionForm.valid">Transferir monto</button>
      </div>
    </div>
  </form>
</div>
