.title {
  color: blueviolet;
}

.btn-crear {
  color: white;
  background-color: blueviolet;
}

.list-group {
  position: absolute;
  width: 40rem;
}

::ng-deep .success-style {
  background-color:lightgreen;
  color:white;
}

::ng-deep .warning-style {
  background-color:red;
  color:white;
}
