<div class="container">
  <form [formGroup]="addreesserForm">
    <h2 class="fw-bold fs-3" style="color: blueviolet">{{ title }}</h2><br>
    <div class="row">
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Rut</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="rut" placeholder="ingrese rut" [required]>
        </div>
      </div>
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Nombre destinatario</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="name" placeholder="ingrese nombre">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Correo</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" formControlName="email" placeholder="ingrese correo">
        </div>
      </div>
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Telefono</label>
        <div class="mb-3">
          <input max="9" type="text" class="form-control" formControlName="phoneNumber" placeholder="ingrese telefono">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Banco</label>
        <div class="mb-3">
          <select formControlName="targetBank" class="form-select" aria-label="Default select example">
            <option [ngValue]='null' selected>Seleccione un banco</option>
            <option *ngFor="let listOfBank of listOfBankArray.banks" [ngValue]="listOfBank.name">{{ listOfBank.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Tipo de cuenta</label>
        <div class="mb-3">
          <select formControlName="accountType" class="form-select" aria-label="Default select example">
            <option [ngValue]='null' selected>Seleccione un tipo de cuenta</option>
            <option *ngIf="this.addreesserForm.get('bankName')?.value === 'Banco Estado'" [ngValue]='listOfBankAccount.CuentaRut' >{{ listOfBankAccount.CuentaRut }}</option>
            <option [ngValue]='listOfBankAccount.CuentaCorriente'>{{ listOfBankAccount.CuentaCorriente }}</option>
            <option [ngValue]='listOfBankAccount.CuentaAhorro'>{{ listOfBankAccount.CuentaAhorro }}</option>
            <option [ngValue]='listOfBankAccount.CuentaVista'>{{ listOfBankAccount.CuentaVista }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 mb-3">
        <label class="mb-1 title">Numero de cuenta</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="accountNumber" placeholder="ingrese numero de cuenta">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 text-center">
        <button type="submit" class="btn btn-lg btn-crear" (click)="onSubmit()" [disabled]="!addreesserForm.valid">Crear destinatario</button>
      </div>
    </div>
  </form>
</div>
